<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>vineService</servlet-name>
		<servlet-class>org.mmisw.vine.gwt.server.VineServiceImpl</servlet-class>
		<init-param>
			<param-name>vine.app.version</param-name>
			<param-value>@vine.app.version@</param-value>
		</init-param>
		<init-param>
			<param-name>vine.app.build</param-name>
			<param-value>@vine.app.build@</param-value>
		</init-param>
		
		<init-param>
			<param-name>ont.service.url</param-name>
			<param-value>@ont.service.url@</param-value>
		</init-param>
		
		<init-param>
			<param-name>bioportal.rest.url</param-name>
			<param-value>@bioportal.rest.url@</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>vineService</servlet-name>
		<url-pattern>/vineService</url-pattern>
	</servlet-mapping>


</web-app>
