<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>org.mmisw.orrportal</display-name>
	<servlet>
		<servlet-name>orrService</servlet-name>
		<servlet-class>org.mmisw.orrportal.gwt.server.OrrServiceImpl</servlet-class>
		<init-param>
			<param-name>orrportal.app.version</param-name>
			<param-value>@orrportal.app.version@</param-value>
		</init-param>
		<init-param>
			<param-name>orrportal.app.build</param-name>
			<param-value>@orrportal.app.build@</param-value>
		</init-param>
		
		<init-param>
			<param-name>ga.uanumber</param-name>
			<param-value>@ga.uanumber@</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>orrService</servlet-name>
		<url-pattern>/orrService</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>org.mmisw.orrportal.gwt.server.UploadServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>org.mmisw.orrportal.gwt.server.DownloadServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>direg</servlet-name>
		<servlet-class>org.mmisw.orrportal.gwt.server.DirectRegistrationServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>direg</servlet-name>
		<url-pattern>/direg</url-pattern>
	</servlet-mapping>

</web-app>
