<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>
	<appender name="console" 
	         class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} %-5p [%-15c] - %m%n" />
		</layout>
	</appender>

	<appender name="file"
		     class="org.apache.log4j.RollingFileAppender">
		<param name="File"           value="@orrportal.app.logfilepath@" />
		<param name="MaxFileSize"    value="@orrportal.app.maxlogfilesize@" />
		<param name="MaxBackupIndex" value="@orrportal.app.maxlogbackupindex@" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ISO8601} %-5p [%c] - %m%n" />
		</layout>
	</appender>

	<category name="com.sun">
		<priority value="@orrportal.app.log.deflevel@" />
	</category>

	<category name="org.mmisw.orrportal">
		<priority value="@orrportal.app.log.orrportallevel@" />
	</category>

	<!-- Use same level for orrclient module -->
	<category name="org.mmisw.orrclient">
		<priority value="@orrportal.app.log.orrportallevel@" />
	</category>

	<!-- Use same level for Ont library module -->
	<category name="org.mmisw.ont">
		<priority value="@orrportal.app.log.orrportallevel@" />
	</category>

	<root>
		<priority value="@orrportal.app.log.deflevel@" />
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>
