<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>org.mmisw.ontmd</display-name>
	<servlet>
		<servlet-name>ontmdService</servlet-name>
		<servlet-class>org.mmisw.ontmd.gwt.server.OntMdServiceImpl</servlet-class>
		<init-param>
			<param-name>ontmd.app.version</param-name>
			<param-value>@ontmd.app.version@</param-value>
		</init-param>
		<init-param>
			<param-name>ontmd.app.build</param-name>
			<param-value>@ontmd.app.build@</param-value>
		</init-param>
		
		<init-param>
			<param-name>appserver.host</param-name>
			<param-value>@appserver.host@</param-value>
		</init-param>
		
		<init-param>
			<param-name>ont.service.url</param-name>
			<param-value>@ont.service.url@</param-value>
		</init-param>
		
		<init-param>
			<param-name>ontbrowser.service.url</param-name>
			<param-value>@ontbrowser.service.url@</param-value>
		</init-param>
		
		<init-param>
			<param-name>bioportal.rest.url</param-name>
			<param-value>@bioportal.rest.url@</param-value>
		</init-param>
		
		<init-param>
			<param-name>ontmd.pre.uploads.dir</param-name>
			<param-value>@ontmd.pre.uploads.dir@</param-value>
		</init-param>
		
		<init-param>
			<param-name>ontmd.voc2rdf.dir</param-name>
			<param-value>@ontmd.voc2rdf.dir@</param-value>
		</init-param>
		
		<init-param>
			<param-name>ontmd.preview.dir</param-name>
			<param-value>@ontmd.preview.dir@</param-value>
		</init-param>
		
		<init-param>
			<param-name>ontmd.resource.dir</param-name>
			<param-value>@ontmd.resource.dir@</param-value>
		</init-param>
		
		<init-param>
			<param-name>ontmd.resourcetype.class</param-name>
			<param-value>@ontmd.resourcetype.class@</param-value>
		</init-param>
		
		<init-param>
			<param-name>ontmd.authority.class</param-name>
			<param-value>@ontmd.authority.class@</param-value>
		</init-param>

		<init-param>
			<param-name>mail.usr</param-name>
			<param-value>@mail.usr@</param-value>
		</init-param>

		<init-param>
			<param-name>mail.pw</param-name>
			<param-value>@mail.pw@</param-value>
		</init-param>

		<init-param>
			<param-name>ga.account</param-name>
			<param-value>@ga.account@</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ontmdService</servlet-name>
		<url-pattern>/ontmdService</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>org.mmisw.ontmd.gwt.server.UploadServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>download</servlet-name>
		<servlet-class>org.mmisw.ontmd.gwt.server.DownloadServlet</servlet-class>
		<load-on-startup>4</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>direg</servlet-name>
		<servlet-class>org.mmisw.ontmd.gwt.server.DirectRegistrationServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>direg</servlet-name>
		<url-pattern>/direg</url-pattern>
	</servlet-mapping>

</web-app>
