<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>voc2rdfService</servlet-name>
		<servlet-class>org.mmisw.voc2rdf.gwt.server.Voc2RdfServiceImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>voc2rdfService</servlet-name>
		<url-pattern>/voc2rdfService</url-pattern>
	</servlet-mapping>


</web-app>
