/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.pc-template-btn {
  display: block;
  font-size: 16pt
}

#pc-template-img {
  margin-top: 20px;
}

#my-button-id { font-size: 70%; }

/* NOTE: this would make firefox to hide some borders.
Removed to fix http://code.google.com/p/mmisw/issues/detail?id=97
table { empty-cells: hide; }
*/

/* inline tables */
table.inline {
  font-size: small;
  background-color: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
}

table.inline th {
  padding: 3px;
  border: 1px solid #8cacbb;
  background-color: #dee7ec;
}

table.inline td {
  padding: 3px;
  border: 1px solid #8cacbb;
}


.gwt-DialogBox { border: 0px outset; background-color: white; }

.Caption{ background-color: #dee7ec; font-weight: bold; cursor: move; text-align: left; }


.TermTable {
  font-size: small;
  background-color: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid #8cacbb;
}

.TermTable-controlRow {
  font-color: gray;
  text-align: center;
  padding: 3px;
  border: 1px solid #8cacbb;
  background-color: #ffffff;
}

.TermTable-header {
  font-weight: bold;
  text-align: center;
  padding: 3px;
  border: 1px solid #8cacbb;
  background-color: #dee7ec;
}

.TermTable-header td {
  min-width: 25px;
  _width: 25px;  /* IE6 hack */
  min-height: 20px;
  _height: 20px;   /* IE6 hack */
}

.TermTable-OddRow {
  background-color: #f3fcff;
  border: 1px solid #8cacbb;
}

.TermTable-EvenRow {
  background-color: #ffffff;
  border: 1px solid #8cacbb;
}

.TermTable-cellFocused {
  background-color: cyan;
  border: 3px solid #8cacbb;
}

.TermTable-termField {
	background-color: transparent;
	border: 2px solid transparent;
}
.TermTable-termField-focused {
	border: 2px solid blue;
}
.TermTable-termField-focusedEdit {
	border: 2px solid red;
}

.ToolBar {
  text-align: center;
  padding: 0px;
  /* border: 1px solid #8cacbb; */
  background-color: #dee7ec;
}


.cellTextBreakWord {
  max-width: 300px;
  word-wrap: break-word;
  text-wrap: unrestricted
}

.OntologyTable {
  font-size: small;
  background-color: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid #dee7ec;
}

.OntologyTable-header {
  font-weight: bold;
  text-align: center;
  padding: 3px;
  border: 1px solid #8cacbb;
  background-color: #dee7ec;
}

.OntologyTable-row {
  text-align: left;
  padding: 3px;
  padding-left: 9px;
  padding-right: 9px;
  border: 1px solid #dee7ec;
}
.OntologyTable-row:hover { background-color: #f3fcff !important; }


.DataTable {
  font-size: small;
  background-color: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid #dee7ec;
}

.DataTable-header {
  font-weight: bold;
  text-align: center;
  padding: 3px;
  border: 1px solid #8cacbb;
  background-color: #dee7ec;
}

.DataTable-row {
  text-align: center;
  padding: 3px;
  border: 1px solid #dee7ec;
}


.ControlsBar {
  text-align: center;
  padding: 0px;
  border: 1px  #8cacbb;
  background-color: #dee7ec;
}



/* VINE */

SearchResultsTable {
  min-width: 400px;
  _width: 400px;/* IE6 hack */
  background-color: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid #8cacbb;
}
.SearchResultsTable-focused {
/*  
	background-color: #dee7ec; 
  background-color: #ffccff;
*/
  border: 1px solid #8cacbb;
  background-color: #f3fcff;
}
.SearchResultsTable-normal {
/*  
	background-color: #dee7ec; 
  background-color: #f3fcff;
*/
  border: 1px solid #8cacbb;
  background-color: #ffccff;
}

.SearchResultsTable-TextBox {
  min-width: 400px;
  _width: 400px;/* IE6 hack */
  background-color: #ffffff;
}
.SearchResultsTable-TextBox-focused {
  min-width: 400px;
  _width: 400px;/* IE6 hack */
/*
  background-color: #dee7ec;
*/
  background-color: #ffccff;
}


.DisclosureTable {
  width: 100%
  font-size: small;
  background-color: transparent;
  border-spacing: 0px;
}


/* inline tables */
.MappingsTable {
  width: 100%
  font-size: small;
  background-color: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
}

.MappingsTable-header {
  width: 100%
  padding: 3px;
  border: 1px solid #8cacbb;
  background-color: #dee7ec;
}

.MappingsTable-row {
  width: 100%
  padding: 3px;
  background-color: #f4f4f4;
  border: 1px solid #8cacbb;
}
  

.MappingsTable-focused {
/*  
	background-color: #dee7ec; 
  background-color: #ffccff;
*/
  border: 1px solid #8cacbb;
  background-color: #f3fcff;
}
  

.MetadataPanel {
  background-color: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid #dee7ec;
  padding: 3px;
}

.MetadataPanel-header {
  text-align: right;
  width: 250px;
  padding: 3px;
  border: 1px solid #dee7ec;
  background-color: #eef7fc;
}


.MappingMetadataPanel {
  border-spacing: 0px;
  border-collapse: collapse;
  border: 1px solid #dee7ec;
  padding: 3px;
}

/* ------------------------------------------------------------------------- */

body {
  padding: 10px;
}

/*
 * ScrollTable
 */
.gwt-ScrollTable {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px 0px 1px 1px;
}

.gwt-ScrollTable .headerWrapper {
  background: #8bd url(../images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .footerWrapper {
  border-top: 1px solid #aaa;
  background: #8bd url(../images/bg_header_gradient.gif) repeat-x bottom left;
}

.gwt-ScrollTable .dataTable td,
.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  border-color: #aaa;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  white-space: nowrap;
  overflow: hidden;
}

.gwt-ScrollTable .headerTable td,
.gwt-ScrollTable .footerTable td {
  color: #fff;
}
	
.gwt-ScrollTable .dataTable tr.highlighted {
  background: #C3D9FF;
}

.gwt-ScrollTable .dataTable td.highlighted {
  background: #FFFFAA;
  cursor: hand;
  cursor: pointer;
}

.gwt-ScrollTable .dataTable tr.selected td {
  background: #7AA5D6;
}

.badGPA {
	background: #FFAAAA;
}
.goodGPA {
  background: #AAAAFF;
}
.greatGPA {
  background: #AAFFAA;
}

/**
 * Applied to the options at the bottom of the page.
 */
.gwt-PagingOptions {
  background: #e8eef7;
  border: 1px solid #aaa;
  border-top: none;
}

.gwt-PagingOptions .errorMessage {
	color: red;
}

.pagingOptionsFirstPage,
.pagingOptionsLastPage,
.pagingOptionsNextPage,
.pagingOptionsPrevPage {
  cursor: hand;
  cursor: pointer;
}

.gwt-InlineCellEditor {
  border: 3px solid #7AA5D6;
  padding: 4px;
  background: white;
  overflow: auto;
}
.gwt-InlineCellEditor .accept {
  cursor: pointer;
  cursor: hand;
}
.gwt-InlineCellEditor .cancel {
  cursor: pointer;
  cursor: hand;
}

/** Applied to AbstractOptions */
.AbstractOption-Label {
  font-weight: bold;
  text-align: right;
}

/** OntologyPanel sections */
.ont-DisclosurePanel-header {
  width: 900px;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff) );
  background:-moz-linear-gradient( center top, #f6f6f6 5%, #ffffff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff');
  background-color:#f6f6f6;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  display:inline-block;
  color:#666666;
  font-weight:bold;
  padding:4px 4px;
  text-shadow:1px 1px 0px #ffffff;  
}
.ont-DisclosurePanel-header:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6) );
  background:-moz-linear-gradient( center top, #ffffff 5%, #f6f6f6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6');
  background-color:#ffffff;
}
